<div class="container dashboard__container">
  <div class="row gy-4">
    <div class="col-12 col-sm-8 col-md-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Gauge graph</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <figure id="gauge_graph"></figure>
          <figure id="gauge_legend"></figure>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>This is a sample card</mat-card-title>
        </mat-card-header>
        <mat-card-content> Here's the sample card content </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>This is a sample card</mat-card-title>
        </mat-card-header>
        <mat-card-content> Here's the sample card content </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
