<div class="container dashboard__container">
  <div class="row gy-4">
    <div class="col-12 col-md-6 col-lg-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Gauge graph</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-gauge-status [data]="gaugeData"></app-gauge-status>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-md-12 col-lg-8">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Data table</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-data-table [data]="devicesData"></app-data-table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
